<launch>
	<arg name="model" />
	<arg name="gui" default="True" />
	<param name="robot_description" textfile="$(find seto_scararobot)/urdf/robo.urdf" />
	<param name="use_gui" value="$(arg gui)"/>
	<!-- joint_state_publisherを起動しない↓ 外部からjoint_stateを受け入れる仕様 -->
	<!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find seto_scararobot)/urdf.rviz" required="true" />
	<!-- move_arm_dynamixelノードを起動 -->
	<node name="move_arm_dynamixel" pkg="seto_scararobot" type="move_arm_dynamixel" />
</launch>


