<?xml version="1.0"?>
<!-- 未完成 -->
<!-- 

イメージ

Moveit
↓
↓ FollowJointTrajectory　(action_libメッセージ)
↓
seto_stararobot_control_node (未実装 !!!!!!!!!!!!!!!!!!!!!)
↓
↓ JointTrajectory (Topicメッセージ)
↓
dynamixel Workbench controller
↓
↓ RS232C
↓
Dynamixel

-->
<launch>
  <!-- Load the seto_scararobot URDF model into the parameter server -->
  <param name="robot_description" textfile="$(find seto_scararobot_description)/urdf/seto_scararobot.urdf" />	

	<include file="$(find seto_scararobot_dynamixel)/launch/dynamixel_controllers.launch" />

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
      <remap from="joint_states" to="/dynamixel_workbench/joint_states"/>
  </node>

  <!-- move group -->
  <include file="$(find seto_scararobot_moveit_config)/launch/move_group.launch"/>

  <!-- rviz -->
  <include file="$(find seto_scararobot_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find seto_scararobot)/launch/seto_scara_moveit.rviz" />
  </include>
</launch>
